# HCMUS-UNIV-WebScience-VisualizeData

## PROJECT 2: MỐI QUAN HỆ CỦA DỮ LIỆU

### I. Chuẩn bị môi trường:

In [203]:
import sqlite3
import pandas as pd
import json
import os

In [204]:
def fetch_value(sqlCommand):
    conn = sqlite3.connect("data.db",check_same_thread=False)
    ret = pd.read_sql_query(sqlCommand, conn)
    conn.close()
    return ret

# Query dữ liệu
def query_sql(sql:str):
    listData = fetch_value(sql)
    return listData

# Lấy bài viết theo website.
def get_bai_viet(website:str):
    return query_sql(f"select * from baiviet where website='{website}'")

class Utils:
    def convertHMtoFloat(HM):
        dv = str(HM).split(":")
        if len(dv) > 1:
            h,m = dv
        else:
            h,m = dv[0],0
        return int(h)+(float(m)/60)

### I. Tiền xử lý dữ liệu

 #### Yêu cầu: đưa các field về dạng chuẩn chung:

1. active_time: thời gian hoạt động, đưa về dạng sau:

```
    {
        <tên ngày trong tuần>:[ <thời gian mở cửa>,<thời gian đóng cửa> ]
    }

    *lowercase
    *thời gian đưa về float: 8h30 => 8.5
```
    
- ví dụ:

```
    {
        "thứ 2": [7,21.5],
        ...,
        "chủ nhật": [8,22.3]
    }
```

2. other_service: các dịch vụ khác, đưa về dạng sau:

```
    [
        <tên dịch vụ>,
        <tên dịch vụ>,
        ...,
    ]
    
    *lowercase
```
    
- ví dụ:

```
    [
        "có wifi"
        "giao hàng",
        ...,
    ]
```

#### I.1 Foody

In [205]:
def preprocessing_Foody():
    # Code here
    data = get_bai_viet("Foody")
    active_time = data["active_time"]
    other_service = data["other_service"]
    format_time = []
    format_other = []
    for time in active_time:
        #time = time.open + ',' + time.close
        time = json.loads(time)
        time_format = []
        time_format.append(Utils.convertHMtoFloat(time['open']))
        time_format.append(Utils.convertHMtoFloat(time['close']))
        x = {
            "thứ 2":time_format,
            "thứ 3":time_format,
            "thứ 4":time_format,
            "thứ 5":time_format,
            "thứ 6":time_format,
            "thứ 7":time_format,
            "chủ nhật":time_format,
        }
        format_time.append(x)
    data['active_time'] = format_time
    for other in other_service:
        otherjs = json.loads(other)
        format_other.append([x.lower() for x in otherjs])
    data['other_service'] = format_other

    def reformat_district_map(district):
        return district.replace("huyện ","").replace("thành phố ","")
    data['district'] = data['district'].apply(reformat_district_map)

    return data

#### I.2 ShopeeFood

In [206]:
def preprocessing_ShopeeFood():
    def maping(name):
        if name=="monday":
            return "thứ 2"
        if name=="tuesday":
            return "thứ 3"
        if name=="wednesday":
            return "thứ 4"
        if name=="thursday":
            return "thứ 5"
        if name=="friday":
            return "thứ 6"
        if name=="saturday":
            return "thứ 7"
        if name=="sunday":
            return "chủ nhật"

    def convert_active_time(HM):
        pre_format = {}
        at_js = json.loads(HM)
        atl = list(at_js)
        for key in atl:
            open,close = at_js[key].split("-")
            pre_format[maping(key)] = [Utils.convertHMtoFloat(open),Utils.convertHMtoFloat(close)]
        return pre_format

    data = get_bai_viet("ShopeeFood")
    data["active_time"] = data["active_time"].apply(convert_active_time)

    return data

#### I.3 GoogleReview

In [207]:
def preprocessing_GoogleReview():
    def reformat_district_map(district):
        return district.replace("thành phố ","")
    
    BlackDistrict=[
        '2 hải triều',
        'vn  1 45 lý tự trọng bến nghé',
        'district 1',
        'thảo điền  2 hồ chí minh',
        'district 02',
        'phường 10  4 hồ chí minh',
        '06',
        '05',
        '19a đường 182 lã xuân oai tăng nhơn phú a',
        'số 01 đường 48 kdc bảo châu phường 16  08 tp',
        'tp',
        '30 cửu long phường 15  10  10',
        '479/55 tân thới hiệp 07',
    ]

    def maping(name):
        if name=="Thứ Hai":
            return "thứ 2"
        if name=="Thứ Ba":
            return "thứ 3"
        if name=="Thứ Tư":
            return "thứ 4"
        if name=="Thứ Năm":
            return "thứ 5"
        if name=="Thứ Sáu":
            return "thứ 6"
        if name=="Thứ Bảy":
            return "thứ 7"
        if name=="Chủ Nhật":
            return "chủ nhật"

    def convert_active_time(HM):
        pre_format = {}
        at_js = json.loads(HM)
        atl = list(at_js)
        for key in atl:
            if (key == "open"):
                pre_format = {
                    "thứ 2":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    "thứ 3":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    "thứ 4":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    "thứ 5":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    "thứ 6":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    "thứ 7":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    "chủ nhật":[Utils.convertHMtoFloat("00:00"),Utils.convertHMtoFloat("23:59")],
                    }
            if (at_js[key] == "Mở cửa cả ngày" or at_js[key] == "Đóng cửa"):
                open = "00:00"
                close = "23:59"
            else :
                time_format = at_js[key].split("–")
                open = time_format[0]
                close = time_format[len(time_format) - 1]
            
            pre_format[maping(key)] = [Utils.convertHMtoFloat(open),Utils.convertHMtoFloat(close)]
        return pre_format

    data = get_bai_viet("GoogleReview")
    data["active_time"] = data["active_time"].apply(convert_active_time)
    
    def convert_other_service(strjson):
        strjson = json.loads(strjson.replace('\\u00a0',''))
        return [x.lower() for x in strjson]
    data['other_service'] = data['other_service'].apply(convert_other_service)

    data['district'] = data['district'].apply(reformat_district_map)

    data = data[ ~(data['district'].isin(BlackDistrict)) ]

    return data

#### I.4 Tổng hợp lại dữ liệu tiền xử lý

- Thực hiện kết hợp
- Phân rã dữ liệu thành dạng phẳng

In [208]:
def reformat(filename):
    DATA = pd.concat([preprocessing_Foody(),preprocessing_ShopeeFood(),preprocessing_GoogleReview()],ignore_index=True)

    # Chuyển complex type sang dạng giản đơn
    # active_time => thứ 2 on/off,...
    maping = {
        "thứ 2":"monday",
        "thứ 3":"tuesday",
        "thứ 4":"wednesday",
        "thứ 5":"thursday",
        "thứ 6":"friday",
        "thứ 7":"saturday",
        "chủ nhật":"sunday",
    }

    for index, row in DATA['active_time'].items():
        for weekday in maping.keys():
            open,close = None,None
            if row.get(weekday):
                open,close = row[weekday]
            DATA.loc[index,maping[weekday]+'_open'] = open
            DATA.loc[index,maping[weekday]+'_close'] = close

    # liệt kê ra toàn bộ other_service
    other_services = set()
    for _, row in DATA['other_service'].items():
        if row:
            other_services = set.union(other_services, row)
    other_services = sorted(other_services)

    for index, row in DATA['other_service'].items():
        for kw in other_services:
            value = False
            if row and kw in row:
                value = True
            DATA.loc[index,'s_'+kw] = value
    DATA.to_csv(filename,index=False)
    return DATA

In [210]:
if os.path.exists('data_reformat.csv'):
    DATA = pd.read_csv('data_reformat.csv')
else:
    DATA = reformat('data_reformat.csv')

# Lấy ra các dịch vụ
SERVICES = []

cols = list(DATA.columns)
for col in cols:
    if col.startswith('s_'):
        SERVICES.append(col[2:])

### 2. Thống kê dữ liệu

BIẾN: 

- DATA: `dataframe` chứa toàn bộ dữ liệu
- SERVICES: `list` các dịch vụ

DANH SÁCH CÁC DỊCH VỤ:

In [211]:
for id, v in enumerate(SERVICES):
    if id % 5 == 0:
        print()
    print(repr(v),end='\t')
print("\n\n")
print("Có tổng cộng: %d dịch vụ" % len(SERVICES))

'cho mua về'	'có bàn ngoài trời'	'có chiếu bóng đá'	'có chỗ chơi cho trẻ em'	'có chỗ đậu ôtô'
'có giao hàng'	'có giao hàng\n:\n> 100k & quận 1'	'có hồ bơi'	'có hỗ trợ hội thảo'	'có hỗ trợ người khuyết tật'
'có karaoke'	'có khu vực hút thuốc'	'có lò sưởi'	'có máy lạnh & điều hòa'	'có nhạc sống'
'có phòng riêng'	'có thẻ thành viên'	'có thẻ thành viên\n:\ncó bán vouchers'	'có wifi'	'có xuất hóa đơn đỏ'
'có xuất hóa đơn đỏ\n:\nthẻ giảm giá'	'dịch vụ tại chỗ'	'giao hàng'	'giao hàng gián tiếp'	'giữ xe máy miễn phí'
'giữ xe máy miễn phí\n:\n2 tiếng'	'không có đồ ăn mang đi'	'không giao hàng'	'không ăn tại chỗ'	'mua hàng ngay trên xe'
'mua sắm tại cửa hàng'	'nhà hàng'	'nhận hàng ở lề đường'	'nhận tại cửa hàng'	'nên đặt trước'
'nên đặt trước\n:\nbắt buộc'	'phòng gym'	'spa & massage'	'sân tennis'	'tip cho nhân viên'
'trả bằng thẻ'	'trả bằng thẻ\n:\nvisa/master'	'ăn tại chỗ'	'đặt lịch hẹn trực tuyến'	'đồ ăn mang đi'
'đồ ăn tận phòng'


Có tổng cộng: 46 dịch vụ

#### Thống kê trên toàn bộ dữ liệu
- Các field: rate, rate_count, price_from, price_to

In [212]:
#Summary statistic

DATA.describe()

,rate,rate_count,price_from,price_to,monday_open,monday_close,tuesday_open,tuesday_close,wednesday_open,wednesday_close,thursday_open,thursday_close,friday_open,friday_close,saturday_open,saturday_close,sunday_open,sunday_close
count,5801.000000,5801.000000,5.801000e+03,5.801000e+03,5783.000000,5783.000000,5787.000000,5787.000000,5787.000000,5787.000000,5785.000000,5785.000000,5786.000000,5786.000000,5783.000000,5783.000000,5761.000000,5761.000000
mean,5.819203,62.664388,5.825490e+04,4.733293e+05,8.453139,20.179587,8.464677,20.185260,8.474662,20.175917,8.474898,20.177148,8.468839,20.172834,8.438723,20.182227,8.405164,20.201892
std,3.676943,153.641717,1.455547e+05,2.248216e+06,4.418259,5.221462,4.414098,5.207387,4.411955,5.215470,4.410622,5.215819,4.412386,5.225363,4.436966,5.233537,4.475502,5.247239
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000e+00,0.000000e+00,6.500000,20.000000,7.000000,20.000000,7.000000,20.000000,7.000000,20.000000,7.000000,20.000000,6.500000,20.000000,6.500000,20.000000
50%,7.586000,3.000000,2.000000e+04,1.000000e+05,9.000000,22.000000,9.000000,22.000000,9.000000,22.000000,9.000000,22.000000,9.000000,22.000000,9.000000,22.000000,9.000000,22.000000
75%,8.600000,32.000000,5.500000e+04,3.000000e+05,10.000000,23.000000,10.000000,23.000000,10.000000,23.000000,10.000000,23.000000,10.000000,23.000000,10.000000,23.000000,10.000000,23.000000
max,10.000000,1000.000000,4.000000e+06,1.000000e+08,22.000000,23.983333,22.000000,23.983333,22.000000,23.983333,22.000000,23.983333,22.000000,23.983333,22.000000,23.983333,22.000000,23.983333

#### Thống kê theo điều kiện 1

In [213]:
# Số lượng từng website
DATA.groupby(['website'])['website'].count()

website
Foody           3027
GoogleReview    1874
ShopeeFood       900
Name: website, dtype: int64

- Tiêu chí rate, rate_count, price_from, price_to

In [214]:
colList = ['rate', 'rate_count', 'price_from', 'price_to']

In [215]:
# Thống kê theo từng website
print(DATA[DATA['website']=='Foody'][colList].describe())
print()
print(DATA[DATA['website']=='GoogleReview'][colList].describe())
print()
print(DATA[DATA['website']=='ShopeeFood'][colList].describe())

              rate   rate_count    price_from      price_to
count  3027.000000  3027.000000  3.027000e+03  3.027000e+03
mean      4.785596    12.270895  6.715101e+04  3.017703e+05
std       3.739141    36.984187  1.785913e+05  9.131174e+05
min       0.000000     0.000000  0.000000e+00  0.000000e+00
25%       0.000000     0.000000  1.000000e+04  3.000000e+04
50%       6.680000     1.000000  2.500000e+04  1.200000e+05
75%       7.917000     7.000000  5.000000e+04  2.990000e+05
max      10.000000   584.000000  4.000000e+06  2.700000e+07

              rate   rate_count     price_from        price_to
count  1874.000000  1874.000000    1874.000000     1874.000000
mean      7.832764   145.714043   40661.686233   107310.565635
std       1.563947   222.345001   91033.044666   203085.969412
min       2.000000     0.000000       0.000000        0.000000
25%       7.600000     2.000000       0.000000        0.000000
50%       8.200000    26.000000       0.000000        0.000000
75%       8.800000   208.000000  100000.000000   300000.000000
max      10.000000   984.000000  500000.000000  1000000.000000

             rate   rate_count    price_from      price_to
count  900.000000   900.000000  9.000000e+02  9.000000e+02
mean     5.102889    59.226667  6.496728e+04  1.812472e+06
std      4.744126   147.486316  1.053842e+05  5.248185e+06
min      0.000000     0.000000  0.000000e+00  0.000000e+00
25%      0.000000     0.000000  1.350000e+04  2.000000e+05
50%      8.800000     8.500000  2.000000e+04  5.000000e+05
75%      9.600000   100.000000  6.925000e+04  1.500000e+06
max     10.000000  1000.000000  1.300000e+06  1.000000e+08

In [216]:
# Thống kê theo từng quận
districtList = sorted(DATA['district'].drop_duplicates().tolist())
for distr in districtList:
    print("Thống kê theo quận %s"%distr)
    print()
    print(DATA[DATA['district']==distr][colList].describe())
    print()

Thống kê theo quận 1

             rate   rate_count    price_from      price_to
count  904.000000   904.000000  9.040000e+02  9.040000e+02
mean     6.048867    73.729532  1.040498e+05  7.267737e+05
std      3.466038   170.237410  1.907290e+05  2.020570e+06
min      0.000000     0.000000  0.000000e+00  0.000000e+00
25%      5.000000     0.000000  2.000000e+04  8.900000e+04
50%      7.600000     5.000000  5.000000e+04  3.000000e+05
75%      8.400000    43.250000  1.000000e+05  5.122500e+05
max     10.000000  1000.000000  4.000000e+06  2.800000e+07

Thống kê theo quận 10

             rate   rate_count     price_from      price_to
count  393.000000   393.000000     393.000000  3.930000e+02
mean     6.355354   105.631837   45243.002545  5.112830e+05
std      3.471307   205.718532   72875.663669  3.289135e+06
min      0.000000     0.000000       0.000000  0.000000e+00
25%      5.000000     0.000000       0.000000  0.000000e+00
50%      7.800000    10.000000   20000.000000  5.500000e+04
75%      8.600000   100.000000   70000.000000  3.000000e+05
max     10.000000  1000.000000  500000.000000  5.000000e+07

Thống kê theo quận 11

             rate  rate_count    price_from      price_to
count  315.000000  315.000000  3.150000e+02  3.150000e+02
mean     6.550235   64.724698  3.198254e+04  1.444381e+05
std      3.199799  136.530849  1.349840e+05  4.619940e+05
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      5.000000    0.000000  0.000000e+00  0.000000e+00
50%      7.800000    5.000000  0.000000e+00  0.000000e+00
75%      8.700000   63.000000  2.250000e+04  1.350000e+05
max     10.000000  963.000000  1.800000e+06  5.000000e+06

Thống kê theo quận 12

             rate  rate_count     price_from      price_to
count  244.000000  244.000000     244.000000  2.440000e+02
mean     6.288615   52.053549   23440.573770  2.635820e+05
std      3.369137  137.207955   53734.444139  1.977171e+06
min      0.000000    0.000000       0.000000  0.000000e+00
25%      5.000000    0.000000       0.000000  0.000000e+00
50%      7.800000    1.000000       0.000000  0.000000e+00
75%      8.800000   15.000000   20000.000000  1.122500e+05
max     10.000000  863.000000  500000.000000  3.000000e+07

Thống kê theo quận 2

             rate  rate_count    price_from      price_to
count  344.000000  344.000000  3.440000e+02  3.440000e+02
mean     6.451058   80.435890  5.701460e+04  3.336456e+05
std      3.345871  175.596701  1.410933e+05  1.452026e+06
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      5.000000    0.000000  0.000000e+00  0.000000e+00
50%      8.000000    5.000000  1.500000e+04  7.000000e+04
75%      8.800000   43.500000  1.000000e+05  3.000000e+05
max     10.000000  984.000000  2.000000e+06  2.500000e+07

Thống kê theo quận 3

            rate   rate_count    price_from      price_to
count  416.00000   416.000000  4.160000e+02  4.160000e+02
mean     6.33776   108.556471  9.346407e+04  7.229881e+05
std      3.56669   211.745471  2.056436e+05  1.960074e+06
min      0.00000     0.000000  0.000000e+00  0.000000e+00
25%      5.00000     1.000000  1.000000e+04  3.500000e+04
50%      7.90600    10.000000  4.000000e+04  2.600000e+05
75%      8.70250   100.000000  1.000000e+05  5.000000e+05
max     10.00000  1000.000000  2.500000e+06  3.000000e+07

Thống kê theo quận 4

             rate   rate_count    price_from      price_to
count  260.000000   260.000000  2.600000e+02  2.600000e+02
mean     6.992100    90.320569  3.430392e+04  3.039269e+05
std      2.978577   187.727545  1.224244e+05  1.741611e+06
min      0.000000     0.000000  0.000000e+00  0.000000e+00
25%      5.000000     1.000000  0.000000e+00  0.000000e+00
50%      8.200000     5.000000  0.000000e+00  0.000000e+00
75%      8.800000    70.750000  2.000000e+04  1.062500e+05
max     10.000000  1000.000000  1.500000e+06  2.500000e+07

Thống kê theo quận 5

             rate   rate_count     price_from      price_to
count  246.000000   246.000000     246.000000  2.460000e+02
mean     6.562260   108.446907   49089.430894  3.647764e+05
std      3.271469   209.364448   93209.880192  1.337890e+06
min      0.000000     0.000000       0.000000  0.000000e+00
25%      5.600000     1.000000       0.000000  0.000000e+00
50%      7.915000     8.000000   15000.000000  5.500000e+04
75%      8.600000   100.000000   75000.000000  3.000000e+05
max     10.000000  1000.000000  500000.000000  1.800000e+07

Thống kê theo quận 6

             rate  rate_count     price_from      price_to
count  280.000000  280.000000     280.000000  2.800000e+02
mean     6.367086   69.556368   24623.214286  1.401482e+05
std      3.366314  144.192952   52695.973169  4.716994e+05
min      0.000000    0.000000       0.000000  0.000000e+00
25%      5.000000    0.000000       0.000000  0.000000e+00
50%      7.800000    4.000000       0.000000  0.000000e+00
75%      8.800000   63.750000   25000.000000  1.847500e+05
max     10.000000  857.000000  500000.000000  5.000000e+06

Thống kê theo quận 7

             rate  rate_count    price_from      price_to
count  350.000000  350.000000  3.500000e+02  3.500000e+02
mean     6.071789   68.478877  5.734286e+04  3.555629e+05
std      3.621977  145.694130  1.146299e+05  8.668299e+05
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      3.100000    1.000000  0.000000e+00  0.000000e+00
50%      7.800000    4.000000  2.000000e+04  1.225000e+05
75%      8.600000   65.750000  5.000000e+04  3.000000e+05
max     10.000000  794.000000  1.200000e+06  6.500000e+06

Thống kê theo quận 8

             rate  rate_count    price_from      price_to
count  199.000000  199.000000  1.990000e+02  1.990000e+02
mean     6.357698   38.886864  2.653769e+04  1.335578e+05
std      3.151124   97.347492  1.452283e+05  5.200963e+05
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      5.000000    0.000000  0.000000e+00  0.000000e+00
50%      7.800000    2.000000  0.000000e+00  0.000000e+00
75%      8.600000   23.000000  1.500000e+04  3.000000e+04
max     10.000000  812.000000  2.000000e+06  4.410000e+06

Thống kê theo quận 9

             rate  rate_count     price_from      price_to
count  119.000000  119.000000     119.000000  1.190000e+02
mean     4.882739   46.109244   33777.310924  2.186975e+05
std      4.015861  116.052647   46177.104601  4.909647e+05
min      0.000000    0.000000       0.000000  0.000000e+00
25%      0.000000    0.000000       0.000000  0.000000e+00
50%      7.000000    1.000000   15000.000000  5.500000e+04
75%      8.200000   27.000000   50000.000000  3.000000e+05
max     10.000000  833.000000  200000.000000  3.499000e+06

Thống kê theo quận bình chánh

            rate  rate_count     price_from       price_to
count  54.000000   54.000000      54.000000      54.000000
mean    5.209148   32.733074   27703.703704  104166.666667
std     3.702099   87.835646   35442.022617  117628.893575
min     0.000000    0.000000       0.000000       0.000000
25%     0.000000    0.000000       0.000000       0.000000
50%     6.858000    2.000000   15000.000000   62500.000000
75%     8.000000    9.750000   41250.000000  200000.000000
max    10.000000  533.000000  139000.000000  460000.000000

Thống kê theo quận bình thạnh

             rate   rate_count    price_from      price_to
count  332.000000   332.000000  3.320000e+02  3.320000e+02
mean     4.544807    14.328250  4.236753e+04  4.389398e+05
std      4.017010    68.421691  1.301674e+05  2.023770e+06
min      0.000000     0.000000  0.000000e+00  0.000000e+00
25%      0.000000     0.000000  1.000000e+04  2.500000e+04
50%      5.900000     1.000000  2.000000e+04  9.000000e+04
75%      8.319000     5.000000  4.000000e+04  2.500000e+05
max     10.000000  1000.000000  2.000000e+06  2.000000e+07

Thống kê theo quận bình tân

             rate   rate_count     price_from      price_to
count  112.000000   112.000000     112.000000  1.120000e+02
mean     4.656107    22.678571   50995.535714  4.122589e+05
std      4.173129   101.133683   77701.626577  1.094656e+06
min      0.000000     0.000000       0.000000  0.000000e+00
25%      0.000000     0.000000   10000.000000  2.875000e+04
50%      5.289000     1.000000   25000.000000  1.500000e+05
75%      8.587500     4.250000   50000.000000  3.000000e+05
max     10.000000  1000.000000  500000.000000  6.000000e+06

Thống kê theo quận củ chi

            rate  rate_count     price_from       price_to
count  20.000000   20.000000      20.000000      20.000000
mean    4.501500    1.550000   41000.000000  162450.000000
std     3.892847    2.235479   39706.820308  129900.964301
min     0.000000    0.000000       0.000000       0.000000
25%     0.000000    0.000000   18750.000000   55000.000000
50%     6.000000    1.000000   20000.000000  117000.000000
75%     8.025000    2.000000   50000.000000  250000.000000
max     9.280000    9.000000  145000.000000  500000.000000

Thống kê theo quận gò vấp

             rate  rate_count    price_from      price_to
count  260.000000  260.000000  2.600000e+02  2.600000e+02
mean     4.827077   16.048819  6.904054e+04  7.709615e+05
std      3.915719   55.827445  2.071360e+05  6.248517e+06
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      0.000000    0.000000  1.000000e+04  2.500000e+04
50%      6.558000    1.000000  2.000000e+04  1.500000e+05
75%      8.200000    7.250000  5.000000e+04  3.000000e+05
max     10.000000  579.000000  2.000000e+06  1.000000e+08

Thống kê theo quận hóc môn

            rate  rate_count     price_from       price_to
count  28.000000   28.000000      28.000000      28.000000
mean    5.891714   17.571429   32714.285714  132928.571429
std     3.703955   83.587802   31894.336131  152202.333308
min     0.000000    0.000000       0.000000       0.000000
25%     2.475000    0.750000   14250.000000   23750.000000
50%     7.250000    2.000000   26500.000000   72500.000000
75%     8.525000    2.250000   48500.000000  200000.000000
max     9.800000  444.000000  150000.000000  650000.000000

Thống kê theo quận nhà bè

            rate  rate_count    price_from      price_to
count  30.000000   30.000000      30.00000  3.000000e+01
mean    2.710600    6.033333   22500.00000  1.514667e+05
std     3.743045   20.019789   29062.06201  3.678915e+05
min     0.000000    0.000000       0.00000  0.000000e+00
25%     0.000000    0.000000     500.00000  2.000000e+03
50%     0.000000    0.000000   15000.00000  3.350000e+04
75%     5.450000    1.000000   22000.00000  1.400000e+05
max     9.600000  100.000000  100000.00000  2.000000e+06

Thống kê theo quận phú nhuận

             rate  rate_count    price_from      price_to
count  192.000000  192.000000  1.920000e+02  1.920000e+02
mean     4.542927   40.432292  6.618229e+04  7.172240e+05
std      4.053012  112.739219  1.387663e+05  2.392598e+06
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      0.000000    0.000000  1.475000e+04  4.150000e+04
50%      6.400000    1.500000  2.600000e+04  1.850000e+05
75%      8.400000   11.250000  5.000000e+04  4.177500e+05
max     10.000000  736.000000  1.300000e+06  2.600000e+07

Thống kê theo quận thủ đức

             rate  rate_count    price_from      price_to
count  152.000000  152.000000  1.520000e+02  1.520000e+02
mean     4.657855   31.770493  6.078289e+04  4.886513e+05
std      3.996460  109.553370  1.780556e+05  1.660587e+06
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      0.000000    0.000000  5.750000e+03  2.000000e+04
50%      5.925000    1.000000  2.000000e+04  1.500000e+05
75%      8.200000    8.250000  5.000000e+04  3.000000e+05
max     10.000000  817.000000  1.500000e+06  1.800000e+07

Thống kê theo quận tân bình

             rate  rate_count    price_from      price_to
count  333.000000  333.000000  3.330000e+02  3.330000e+02
mean     4.997634   31.889024  5.839790e+04  8.192733e+05
std      4.056304   81.116421  1.342129e+05  2.914634e+06
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      0.000000    0.000000  1.000000e+04  3.500000e+04
50%      6.766000    2.000000  2.200000e+04  1.500000e+05
75%      8.600000   15.000000  5.000000e+04  3.790000e+05
max     10.000000  510.000000  1.800000e+06  2.600000e+07

Thống kê theo quận tân phú

             rate   rate_count    price_from      price_to
count  218.000000   218.000000  2.180000e+02  2.180000e+02
mean     4.605927    24.999734  5.284174e+04  3.814587e+05
std      3.972906    97.927288  1.571877e+05  9.132625e+05
min      0.000000     0.000000  0.000000e+00  0.000000e+00
25%      0.000000     0.000000  1.000000e+04  2.000000e+04
50%      6.201000     1.000000  2.000000e+04  1.500000e+05
75%      8.200000     6.750000  5.000000e+04  3.000000e+05
max     10.000000  1000.000000  2.000000e+06  6.000000e+06

In [217]:
# Thống kê theo rate
tmp = ['rate_count', 'price_from', 'price_to']

print("Thống kê những nhà hàng tốt rate > 8 sao")
print(DATA[DATA['rate']>8][tmp].describe())
print()
print("Thống kê những nhà hàng thông thường rate = 5 sao")
print(DATA[DATA['rate']==5][tmp].describe())
print()
print("Thống kê những nhà hàng tệ rate < 3 sao")
print(DATA[DATA['rate']<3][tmp].describe())

Thống kê những nhà hàng tốt rate > 8 sao
        rate_count    price_from      price_to
count  2209.000000  2.209000e+03  2.209000e+03
mean    109.500197  5.858967e+04  3.409351e+05
std     198.811602  1.634651e+05  7.865392e+05
min       1.000000  0.000000e+00  0.000000e+00
25%       3.000000  0.000000e+00  0.000000e+00
50%      12.000000  2.000000e+04  1.000000e+05
75%     100.000000  7.000000e+04  3.000000e+05
max    1000.000000  4.000000e+06  1.000000e+07

Thống kê những nhà hàng thông thường rate = 5 sao
       rate_count    price_from       price_to
count  322.000000    322.000000     322.000000
mean     0.130435   1785.714286   11552.795031
std      0.468715   7170.425216   47732.823483
min      0.000000      0.000000       0.000000
25%      0.000000      0.000000       0.000000
50%      0.000000      0.000000       0.000000
75%      0.000000      0.000000       0.000000
max      4.000000  50000.000000  300000.000000

Thống kê những nhà hàng tệ rate < 3 sao
        rate_count    price_from      price_to
count  1530.000000  1.530000e+03  1.530000e+03
mean      0.083007  5.395690e+04  1.001300e+06
std       0.648214  1.435519e+05  4.193030e+06
min       0.000000  0.000000e+00  0.000000e+00
25%       0.000000  0.000000e+00  0.000000e+00
50%       0.000000  2.000000e+04  6.000000e+04
75%       0.000000  5.000000e+04  4.575000e+05
max      13.000000  2.000000e+06  1.000000e+08

In [218]:
# Thống kê theo ngày

print("Thống kê những nhà hàng mở cửa cả tuần")
con1 = ["monday_open", "tuesday_open", "wednesday_open", "thursday_open", "friday_open", "saturday_open", "sunday_open"]
df1=DATA
for col in con1:
    df1=df1[~df1[col].isna()]
print(df1[colList].describe())
print()

print("Thống kê những nhà hàng chỉ mở cửa từ thứ 2 tới thứ 6")
con1 = ["monday_open", "tuesday_open", "wednesday_open", "thursday_open", "friday_open"]
con2 = ["saturday_open", "sunday_open"]
df1=DATA
for col in con1:
    df1=df1[~df1[col].isna()]
for col in con2:
    df1=df1[df1[col].isna()]
print(df1[colList].describe())
print()

print("Thống kê những nhà hàng chỉ mở cửa từ thứ 7 tới chủ nhật")
con1 = ["monday_open", "tuesday_open", "wednesday_open", "thursday_open", "friday_open"]
con2 = ["saturday_open", "sunday_open"]
df1=DATA
for col in con1:
    df1=df1[df1[col].isna()]
for col in con2:
    df1=df1[~df1[col].isna()]
print(df1[colList].describe())
print()
print(DATA[~df1][colList].describe())

Thống kê những nhà hàng mở cửa cả tuần
              rate   rate_count    price_from      price_to
count  5756.000000  5756.000000  5.756000e+03  5.756000e+03
mean      5.819353    62.795712  5.825585e+04  4.649154e+05
std       3.667377   153.958390  1.459509e+05  2.239897e+06
min       0.000000     0.000000  0.000000e+00  0.000000e+00
25%       0.000000     0.000000  0.000000e+00  0.000000e+00
50%       7.573000     3.000000  2.000000e+04  1.000000e+05
75%       8.600000    32.000000  5.500000e+04  3.000000e+05
max      10.000000  1000.000000  4.000000e+06  1.000000e+08

Thống kê những nhà hàng chỉ mở cửa từ thứ 2 tới thứ 6
            rate  rate_count     price_from      price_to
count   3.000000    3.000000       3.000000  3.000000e+00
mean    6.666667    4.333333   45000.000000  2.550000e+06
std     5.773503    3.785939   47696.960071  3.447100e+06
min     0.000000    0.000000   15000.000000  1.500000e+05
25%     5.000000    3.000000   17500.000000  5.750000e+05
50%    10.000000    6.000000   20000.000000  1.000000e+06
75%    10.000000    6.500000   60000.000000  3.750000e+06
max    10.000000    7.000000  100000.000000  6.500000e+06

Thống kê những nhà hàng chỉ mở cửa từ thứ 7 tới chủ nhật
       rate  rate_count  price_from  price_to
count   0.0         0.0         0.0       0.0
mean    NaN         NaN         NaN       NaN
std     NaN         NaN         NaN       NaN
min     NaN         NaN         NaN       NaN
25%     NaN         NaN         NaN       NaN
50%     NaN         NaN         NaN       NaN
75%     NaN         NaN         NaN       NaN
max     NaN         NaN         NaN       NaN

       rate  rate_count  price_from  price_to
count   0.0         0.0         0.0       0.0
mean    NaN         NaN         NaN       NaN
std     NaN         NaN         NaN       NaN
min     NaN         NaN         NaN       NaN
25%     NaN         NaN         NaN       NaN
50%     NaN         NaN         NaN       NaN
75%     NaN         NaN         NaN       NaN
max     NaN         NaN         NaN       NaN

In [219]:
# Thống kê theo dịch vụ

print("Thống kê những nhà hàng có từ 7 dịch vụ trở lên")
def filterbyservice(row):
    c=0
    for ser in SERVICES:
        if row["s_"+ser]:
            c+=1
            if c == 7:
                return True
    return False
df1 = DATA.apply(filterbyservice,axis=1)
print(DATA[df1][colList].describe())
print()

print("Thống kê những nhà hàng không có dịch vụ nào")
def filterbyservice(row):
    c=0
    for ser in SERVICES:
        if row["s_"+ser]:
            return False
    return True
df1 = DATA.apply(filterbyservice,axis=1)
print(DATA[df1][colList].describe())

Thống kê những nhà hàng có từ 7 dịch vụ trở lên
             rate  rate_count    price_from      price_to
count  326.000000  326.000000  3.260000e+02  3.260000e+02
mean     5.031595   35.527607  1.126197e+05  6.850231e+05
std      3.724084   72.463535  1.756933e+05  1.860264e+06
min      0.000000    0.000000  0.000000e+00  0.000000e+00
25%      0.000000    0.000000  1.000000e+04  4.000000e+04
50%      7.195000    4.000000  5.000000e+04  2.825000e+05
75%      7.950000   38.000000  1.490000e+05  5.500000e+05
max     10.000000  584.000000  1.300000e+06  2.700000e+07

Thống kê những nhà hàng không có dịch vụ nào
              rate   rate_count    price_from      price_to
count  1769.000000  1769.000000  1.769000e+03  1.769000e+03
mean      5.428956    49.916025  5.209078e+04  1.012423e+06
std       4.087046   143.587444  1.062456e+05  3.840888e+06
min       0.000000     0.000000  0.000000e+00  0.000000e+00
25%       0.000000     0.000000  1.000000e+04  8.000000e+04
50%       7.200000     2.000000  2.500000e+04  2.000000e+05
75%       9.200000    12.000000  5.000000e+04  5.000000e+05
max      10.000000  1000.000000  2.000000e+06  1.000000e+08

#### Thống kê theo điều kiện 2

In [221]:
# Code here
DATA.sort_values(by="rate", ascending=False).head()
#Những quán ăn Quận 1 mà được lượt rate cao tới thấp
DATA[DATA["district"].apply(lambda state: state[0] == "1")].sort_values(by="rate", ascending=False).head()

#Những quán có rate cao là số favorite cũng cao
columns_to_show = ["rate", "favorite", "district"]
DATA.sort_values(by="rate", ascending=False).groupby(["full_name"])[columns_to_show].describe(percentiles=[])

#Những quán có giá đắt
columns_show = ["full_name","price_from","price_to",]
DATA.sort_values(by="price_from",ascending=False).groupby(["full_name"])[columns_show].describe(percentiles=[])

                                           price_from                          \
                                                count      mean std       min
full_name
 Lẩu Bò Q7 - La Thành                             1.0       0.0 NaN       0.0
 MIFASHOP - Mỹ Phẩm, Nước Hoa Chính Hãng          1.0  100000.0 NaN  100000.0
 Sly1994                                          1.0  100000.0 NaN  100000.0
 Sơn Mập Quán - Heo Mẹt - Đường Số 11             1.0   50000.0 NaN   50000.0
1 Food Drink                                      1.0   50000.0 NaN   50000.0
...                                               ...       ...  ..       ...
Ốc Đẹp                                            1.0   20000.0 NaN   20000.0
Ớt Xanh 1 - Cháo Ếch Singapore                    1.0   20000.0 NaN   20000.0
Ụt Ụt Quán - Barbecue & Beer - Võ Văn Kiệt        1.0  100000.0 NaN  100000.0
屋台の焼き鳥やさん                                         1.0       0.0 NaN       0.0
御尚樓粵菜海鮮酒家 Nhà Hàng Yu Shang Lou                   1.0       0.0 NaN       0.0

                                                               price_to  \
                                                 50%       max    count
full_name
 Lẩu Bò Q7 - La Thành                            0.0       0.0      1.0
 MIFASHOP - Mỹ Phẩm, Nước Hoa Chính Hãng    100000.0  100000.0      1.0
 Sly1994                                    100000.0  100000.0      1.0
 Sơn Mập Quán - Heo Mẹt - Đường Số 11        50000.0   50000.0      1.0
1 Food Drink                                 50000.0   50000.0      1.0
...                                              ...       ...      ...
Ốc Đẹp                                       20000.0   20000.0      1.0
Ớt Xanh 1 - Cháo Ếch Singapore               20000.0   20000.0      1.0
Ụt Ụt Quán - Barbecue & Beer - Võ Văn Kiệt  100000.0  100000.0      1.0
屋台の焼き鳥やさん                                        0.0       0.0      1.0
御尚樓粵菜海鮮酒家 Nhà Hàng Yu Shang Lou                  0.0       0.0      1.0

                                                                      \
                                                 mean std        min
full_name
 Lẩu Bò Q7 - La Thành                             0.0 NaN        0.0
 MIFASHOP - Mỹ Phẩm, Nước Hoa Chính Hãng    5000000.0 NaN  5000000.0
 Sly1994                                     200000.0 NaN   200000.0
 Sơn Mập Quán - Heo Mẹt - Đường Số 11         30000.0 NaN    30000.0
1 Food Drink                                 150000.0 NaN   150000.0
...                                               ...  ..        ...
Ốc Đẹp                                        30000.0 NaN    30000.0
Ớt Xanh 1 - Cháo Ếch Singapore               150000.0 NaN   150000.0
Ụt Ụt Quán - Barbecue & Beer - Võ Văn Kiệt   300000.0 NaN   300000.0
屋台の焼き鳥やさん                                         0.0 NaN        0.0
御尚樓粵菜海鮮酒家 Nhà Hàng Yu Shang Lou                   0.0 NaN        0.0


                                                  50%        max
full_name
 Lẩu Bò Q7 - La Thành                             0.0        0.0
 MIFASHOP - Mỹ Phẩm, Nước Hoa Chính Hãng    5000000.0  5000000.0
 Sly1994                                     200000.0   200000.0
 Sơn Mập Quán - Heo Mẹt - Đường Số 11         30000.0    30000.0
1 Food Drink                                 150000.0   150000.0
...                                               ...        ...
Ốc Đẹp                                        30000.0    30000.0
Ớt Xanh 1 - Cháo Ếch Singapore               150000.0   150000.0
Ụt Ụt Quán - Barbecue & Beer - Võ Văn Kiệt   300000.0   300000.0
屋台の焼き鳥やさん                                         0.0        0.0
御尚樓粵菜海鮮酒家 Nhà Hàng Yu Shang Lou                   0.0        0.0

[5719 rows x 12 columns]

###  Phần 3,4,5

#### Long section

In [ ]:
# Tiêu chí:

#### Hiếu section

In [ ]:
# code here

#### Hằng section

In [ ]:
# code here